/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

/* COMMON */
body{
    font-family: 'Seven Segment', sans-serif;
}

 .container{
    width: 300px;
    margin: 70px auto 10px;
    background-color: green;
    /* debug */
    height: 600px;
} 


/* TOP-SECTION */

.top-sect-calc{
    background-color: #D1D1D1;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}


/* DISPLAY */

.display{
    background-color: #000000;
    text-align: right;
}

.number-text{
    color: #09D297;
    font-size: 40px;
    display: inline-block; 
    padding: 15px 5px; 
    
}

/* BODY-SECTION */

